Django
django-storages
django-ses
subdomains
django-registration
django-allauth>=0.56.1
django-filter
django-rest-framework
django-bower
invoke
dj-database-url
psycopg2-binary
twilio
sentry-sdk
gunicorn
whitenoise
boto3
langchain
py-trello
openai
